.robot {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  background: url(../../assets//common/robot.png) no-repeat center;
  background-size: cover;
  position: fixed;
  bottom: 100px;
  right: 100px;
  border: 1px solid #fff;
}
