.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: var(--content-height, 1200px);
}
.navList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}
.navItem {
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/common/logo.png");
  background-size: cover;
  background-position: center;
}
